.scrollOf {
    height: 300px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollOf::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }